@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@1,600&family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    min-height: 100vh;
    background-color: rgb(27, 157, 197);
    font-family: 'Poppins', sans-serif;
    
}
header{
    width: 100%;
    color: wheat;
    font-size: 28px;
    font-weight: 600;
    letter-spacing: 3px;
}
header h1{
    padding: 24px;
    text-align: center;
    font-size: 28px;
}
.main-container{
    margin-top: 2rem;
    display: grid;
    grid-template-columns:repeat(auto-fit,300px);
    padding-top: 5rem;
    padding-bottom: 2rem;
    max-width: 980px;
    margin-inline: auto;
    column-gap: 2rem;
    padding-left: 1rem;
    row-gap: 1.5rem;
   
}
.main-container .box{
    background-color: white;
    border-radius: 16px;
    width: 280px;
    transition: all 0.5s ease-in-out;
}
.main-container .box .img-box img{
    max-width: 100%;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}
.main-container .box .h2-city{
    padding: 5px;
    font-size: 24px;
    font-weight: 600;
    color:rgb(27, 157, 197);
}
.main-container .box .text-box{
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.main-container .box .text-box h2{
    font-size: 20px;
    letter-spacing: 1px;
}
.main-container .box .text-box span{
    font-size: 24px;
    font-weight: 600;
}
.main-container .box .text-box .temp{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container .box .text-box .humidity{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.main-container .box:hover{
    transform: scale(1.2);
}
@media(hover:none) {
    .main-container .box:hover{
        transform: none;
    }
}
/* -----mediaQueries------ */
@media screen and (max-width:1026px) {
    .main-container .box:hover{
        transform: scale(1.08);
    }
}

@media screen and (max-width:615px) {
    .main-container{
        padding-top: 2rem;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-left: 0;
    }
    .main-container .box:hover{
        transform: none;
    }
}
